.contact-info{
	color: #332a2a;
}

.contact-social-media > a:first-of-type{
    margin-right: 15px;
}

.contact-social-media > a#facebook-top{
    background-color: #4267b2;
    border-radius: 5px;
    padding: 10px 4px 14px;
}


.contact-social-media > a#youtube-top{
    background-color: #cc181e;
    border-radius: 5px;
    padding: 13px 4px 15px;
}

.contact-social-media > a > img {
    width: 36px;
    /*transition: width 0,1s;*/
}
/*
.contact-social-media > a > img:hover {
    width: 60px;
    transition: width 0.1s;
}
*/

.schedule-of-worship .four-colums {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}