.text{
	margin-bottom: 30px;
}

.text.two-columns{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

.image-column{
    padding-left: 0;
}

.event-details h3{
    font-family: "Abel",sans-serif;
}


.event-details h3 strong{
    font-weight: 700;
    text-transform: uppercase;
}

.event-details h3 > span{
    font-size: 90%;
    font-weight: 300;
}