/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
	margin-bottom: 60px;
	color: #332A2A;
	font-family: 'Open Sans', sans-serif;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

.navbar-wrapper .pre-nav {
	background-color: #332A2A;
}

.navbar-wrapper .pre-nav > .container {
	padding: 0 15px 0 80px;
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
}

.navbar-wrapper .pre-nav p{
	margin: 0;
}

.navbar-wrapper .pre-nav address, .navbar-wrapper .pre-nav #phone{
	text-align: left;
	margin: 0;
	color: #fff;
	font-weight: 100;
	font-size: 14px;
}

.navbar-wrapper .pre-nav #address-icon, .navbar-wrapper .pre-nav #phone-icon{
	height: 20px;
	float: left;
	padding-right: 5px;
}

.navbar-wrapper .pre-nav #facebook-top > img, .navbar-wrapper .pre-nav #youtube-top >img{
	height: 30px;
	margin-right: 10px;
}

.navbar-wrapper .pre-nav #search-top{
	position: absolute;
	right: 0;
	top: -20px;
	z-index: 10000;
}

.navbar-wrapper .pre-nav #search-top > img{
	width: 50px;	
}

.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
	background-color: rgba(51,42,42,0.6);
	margin: 0;
}

.navbar-brand{
	padding: 10px 0 0;
	position: absolute;
	top: -40px;
}

.navbar-brand > img{
	height: 80px;
}


.nav.navbar-nav.nav-justified {
	width: calc(100% - 130px);
	float: right;
	margin-right: 50px;
}


.nav.navbar-nav.nav-justified > li {
  float: none;
}

.nav.navbar-nav.nav-justified > li > a {
	text-transform: uppercase;
	color: #fff;
	font-family: 'Abel', sans-serif;
	font-size: 21px;
	padding-top: 15px;
    padding-bottom: 15px;
}

.nav.navbar-nav.nav-justified > li > a > span {
	display: table;
	margin: 0 auto;
}
.nav.navbar-nav.nav-justified > li.active > a{
	padding-bottom: 9px;
}

.nav.navbar-nav.nav-justified > li.active > a > span{
	border-bottom: 3px solid #FFF8A5;
	text-shadow: #fff 0px 0px 2px;
	padding-bottom: 3px;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
    background-color: rgba(51,42,42,0.65);
    right: 0;
    left: 0;
    bottom: 0;
	padding: 0;
}

.carousel-caption > h1{
	font-family: 'Abel', sans-serif;
    border-bottom: 5px solid #FFF8A5;
    display: table;
    margin: 10px auto 20px;
}

.carousel .carousel-caption p{
	font-size: 14px;
	font-weight: 100;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px;
}

/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

.jumbotron {
	background-color: #D83636;
	color: #fff;
	font-weight: 600;
	font-style: italic;
}

.jumbotron #hands-in-heart{
	width: 80px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.title{
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
    display: table;
    margin: 10px auto 50px;
}

.title.border-red{
    border-bottom: 5px solid #D83636;
}

.title.border-yellow{
    border-bottom: 5px solid #FFF8A5;
}

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette .featurette-heading {
  font-weight: 600;
  line-height: 1;
  letter-spacing: -1px;
	color: #D83636;
}

.featurette .lead{
	margin-bottom: 0;
}

.featurette .read-more{
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	color: #808080;
	float: right;
}
.featurette .read-more > img{
	width: 30px;
	
}

.col-md-4 .featurette .featurette-heading{
	font-size: 21px;
}
.col-md-4 .featurette .lead{
	font-size: 16px;
}

.col-md-4 .featurette-divider{
	margin: 29px 0; /* Space out the Bootstrap <hr> more */
}


/* Events
------------------------- */
.parallax { 
    /* The image used */
    background-image: url("../img/banner.png");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: 30px;
}

.parallax > div{
	background-color: rgba(51,42,42,0.65);
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 500px;;
	padding: 25px 0;
}

.events-home{
	color: #fff;
}

.events-home .col-md-6 .event-home{
	display: inline-flex;
	align-items: center;
}

.events-home .col-md-6 .event-home .date{
	float: left;
	margin-right: 25px;
	font-size: 32px;
	font-family: 'Abel', sans-serif;
}
.events-home .col-md-6 .event-home .date-divider{
	margin: 5px 0; /* Space out the Bootstrap <hr> more */
	border-top: 3px solid #FFF8A5;
}

.events-home .col-md-6 .event-home .event-heading{
	font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -1px;
	color: #FFF8A5;
}

.events-home .col-md-6 .event-home .event-heading .text-muted{
	color: #fff;
}

.events-home .col-md-6 .event-home .lead{
	font-size: 16px;
}

.events-home .events-divider{
	border-top: 5px solid #FFF8A5;
}

.verse-of-the-day{
	margin: 0;
}

.verse-of-the-day h1.title{
	display: table;
	text-align: left;
	font-size: 21px;
	margin: 15px 0;
	border-bottom: 3px solid #FFF8A5;
}

.verse-of-the-day h3{
	text-align: center;
	font-style: italic;
}

.verse-of-the-day p{
	text-align: center;
}

/* Blog Posts
------------------------- */
.featurette-post{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
    min-height: 500px;
}

.featurette-post > div{
	background-color: rgba(51,42,42,0.65);
	min-height: 500px;
	padding: 15px;
	display: flex;
	align-items: flex-end;
	position: relative;
}

.featurette-post .title.border-red{
	font-size: 21px;
	margin: 0;
	position: absolute;
	top: 15px;
	left: 15px;
}

.featurette-post .post-heading{
	color: #D83636;
	font-size: 21px;
}

.featurette-post .post-heading .text-muted{
	color: #fff;
}

.featurette-post .lead{
	font-size: 16px;
}

.featurette-post .read-more {
	color: #fff;
	float: right;
}

.featurette-post .read-more img{
	width: 30px;
}

.featurette-posts .featurette-heading{
	font-size: 21px;
}

.featurette-posts .lead{
	font-size: 16px;
}

.featurette-posts .read-more {
	float: right;
}

.featurette-posts .read-more img{
	width: 30px;
}



footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #332A2A;
	color: #fff;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
}

footer p{
	margin: 0;
}

footer a{
	color: #FFF8A5;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .featurette-heading {
    font-size: 26px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 0;
  }
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
